<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @*<link href="@Url.Content("~/Content/cmich_styles.css")" rel="stylesheet" type="text/css" />*@
    <link rel="stylesheet" href="http://cdn.cmich.edu/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn.cmich.edu/css/fonts/fonts.css" />

    <script src="http://cdn.cmich.edu/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="http://cdn.cmich.edu/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.1.2.min.js")" type="text/javascript"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

   @* @Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
</body>
</html>
