@model AskMeAQuestion.ViewModels.LiveFeedViewModel
@{
    ViewBag.Title = "Live Feed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Html.RenderAction("GetNavigationForUser", "Home", new { userId = Model.UserId, message = "Live Feed for " + @Model.CourseName, questionCount = Model.CurrentSession.Questions.Count() });}
<link href="~/css/live-feed.css" rel="stylesheet">
<style>
    body, html {
        height: 100%;
    }
    textarea{
        margin-left: auto;
        margin-right: auto;
    }
    #Ask {
        display: none;
    }
    #message {
        width: 100%;
    }
    #pastQuestions {
        display: none;
        overflow-y: scroll;
        position: relative;
        height: 65em;
    }
    .control-label {
        font-weight: 100;
    }
    .panel-heading {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .clicked {
        color: red;
    }

    .italic {
        font-style: italic;
        font-weight: 100;
    }
    .ui-widget-header {
        background: #222;
        border: 1px solid #080808;
    }
    .btn-primary {
        background-color: #999;
    }
</style>

<div class="container">

    <div id="Ask" title="Ask Question!" class="well" >
        <form class="form-horizontal">
                <h4>Post a new Question</h4>
                <div class="row">
                    <textarea cols="20" rows="5" id="message"></textarea>
                </div>
            <label class="control-label">Close window on submit</label> <input id="chkClose" type="checkbox" checked="checked" />
            <input type="button" id="sendmessage" class="btn btn-primary" style="margin-left: 1em" value="Ask" />
            <input type="hidden" id="displayname" />
        </form>
    </div>

    <div class="form-group row">
        <button id="askQuestion" class="btn btn-primary">Ask!</button>
        @if (Model.CurrentSession.Questions.Count() > 0)
        { <button id="sessionHistory" class="btn btn-primary">View today's session history</button>}
    </div>

    <div class="form-group row">
        <ul id="discussion" class="list-unstyled col-md-6"></ul>
    </div>

    @if (Model.CurrentSession.Questions.Count() > 0)
{
    
    <div class="form-group row">
        <ul id="pastQuestions" class="list-unstyled col-md-6">
            <li><h3>Past Questions</h3></li>
            @foreach (var question in Model.CurrentSession.Questions.OrderByDescending(x => x.QuestionId))
            {
                <li class="panel panel-default row">
                    <div class="unselectable panel-heading">@question.Upvotes
                        <i class="glyphicon glyphicon-arrow-up"></i> 
                        <strong>@question.Submitter</strong><span class="italic"> asked on @question.SubmissionDateTime</span>
                    </div>
                    <div class="panel-body">@question.Question</div>
                </li>
            }
        </ul>
    </div>
}

</div>

<script src="~/signalr/hubs" type="text/javascript"></script>
<script type="text/javascript">    
    $(document).ready(function () {
        // Declare a proxy to reference the hub.
        var chat = $.connection.liveFeed;
        // Create a function that the hub can call to broadcast messages.
        chat.client.broadcastMessage = function (name, message, id, upvotes) {
            // Html encode display name and message.
            var encodedName = $('<div />').text(name).html();
            var encodedMsg = $('<div />').text(message).html();
            // Add the message to the page.
            $('#discussion').prepend('<li id = ' + id + ' class="panel panel-default row"><div class="unselectable panel-heading">' + upvotes + '<i class="glyphicon glyphicon-arrow-up"></i>&nbsp<strong>' +
                encodedName + '</strong> <span class="italic">has asked</span></div><div class="panel-body">' + encodedMsg + '</div></li>');
        };

         
        chat.client.upvoteQuestion = function (name, message, id, upvotes) {
            var encodedName = $('<div />').text(name).html();
            var encodedMsg = $('<div />').text(message).html();
            var newText = '<div class="unselectable panel-heading">' + upvotes + '<i class= "glyphicon glyphicon-arrow-up"></i>&nbsp<strong>' +
                encodedName + '</strong> <span class="italic">has asked</span></div><div class="panel-body">' + encodedMsg + '</div>';
            $('#' + id).html(newText);
        };

        $("#sessionHistory").click(function () {
            $("#pastQuestions").slideToggle();
        });
        // Get the user name and store it to prepend to messages.

        if ('@Model.AnonOn' == "True") {

            $('#displayname').val("Anon");
        }
        else {
            $('#displayname').val('@Model.UserId');
        }
        // Set initial focus to message input box.
        $('#message').focus();
        // Start the connection.
        $.connection.hub.start().done(function () {
            $('#sendmessage').click(function () {
                // Call the Send method on the hub.
                chat.server.send('@Model.UserId', $('#message').val(), '@Model.CourseDesignator');
                // Clear text box and reset focus for next comment.
                if ($('#chkClose').is(':checked')) {
                    $("#Ask").dialog("close");
                    $('#message').val('');
                } else {
                    $('#message').val('').focus();
                }               
            });

            $(document).on('click', '.glyphicon-arrow-up', function () {
                var questionId = $(this).parent().parent().attr("id");
                chat.server.upvote(questionId, '@Model.UserId');

            });

        });
    });
</script>