@model AskMeAQuestion.ViewModels.UserInterfaceViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("GetNavigationForUser", "Home", new { userId = Model.UserId, message = "Welcome back! " + Model.UserName });}
<link href="~/css/mobile.css" rel="stylesheet" />
<div class="container">
    @using (Html.BeginForm("UserInterface", "Home", FormMethod.Post, new { enctype = "multi-part/form-data" }))
    {

        @Html.HiddenFor(x => Model.UserId)
        <h4>Course Searcher</h4>
        <div class="row">
            <div class="col-md-2">
                @Html.DropDownListFor(x => x.CourseAdded, new SelectList(Model.Courses, "Value", "Text"), "--Select Class--", new { @class = "form-control" })
            </div>

            <div class="col-md-2"><button type="submit" class="btn btn-default">Add Course</button></div>
        </div>

    }
    @if (Model.UserRole == "Professor" || Model.UserRole == "Admin")
    {
        @Html.ActionLink("Create a new course", "CreateCourse", "Home", new { id = Model.UserId }, null);
    }


    @if (Model.UserCourseList.Count() > 0)
    {
        <br /><br />
        <div class="panel panel-default">
            <div class="panel-heading"><h4>My Classes</h4></div>
            <table class="table">
                <tr>
                    <th class="mobile-hide">
                        Name
                    </th>
                    <th>
                        Designator
                    </th>
                    <th>
                        Professor
                    </th>
                    <th>
                        Current Session
                    </th>
                    <th>
                        Course History
                    </th>
                    @if (Model.UserRole == "Professor" || Model.UserRole == "Admin")
                    {
                        <th>
                            Class List
                        </th>
                        <th>
                            Settings
                        </th>
                    }
                </tr>
                @foreach (var course in Model.UserCourseList)
                {
                    <tr>
                        <td class="mobile-hide">
                            @course.CourseName
                        </td>
                        <td>
                            @course.CourseDesignator
                        </td>
                        <td>
                            @course.ProfessorId
                        </td>
                        <td>

                            @if ((Model.UserRole == "Admin" || Model.UserRole == "Professor") && !course.OpenSession)
                            {
                                @Html.ActionLink("New Session", "CreateSession", "Home", new { id = course.SectionId, userId = Model.UserId }, null)

                            }
                            else if (course.OpenSession)
                            {
                                @Html.ActionLink("Live Feed", "LiveFeed", "Home", new { id = course.SectionId, userId = Model.UserId }, null)

                            }
                            else
                            {
                                <em>No open session</em>
                            }

                        </td>
                        <td>
                            @Html.ActionLink("Course History", "CourseHistory", "Home", new { id = course.SectionId, userId = Model.UserId }, null)
                        </td>
                        @if (Model.UserRole == "Professor" || Model.UserRole == "Admin")
                        {
                            <td>
                                @Html.ActionLink("Class list", "ClassList", "Home", new { courseId = course.SectionId, userId = Model.UserId }, null)

                            </td>
                            <td>
                                @if (course.OpenSession && course.AnonOn)
                                {
                                    @Html.ActionLink("Anon: On (Turn off)", "AnonOn", "Home", new { id = course.SectionId, userId = Model.UserId, setting = "Off" }, null);
                                }
                                else if (course.OpenSession)
                                {
                                    @Html.ActionLink("Anon: Off (Turn on)", "AnonOn", "Home", new { id = course.SectionId, userId = Model.UserId, setting = "On" }, null);

                                }
                            </td>
                        }
                    </tr>

                }
            </table>
        </div>
    }



    @if (Model.PendingCourses.Count() > 0 && Model.UserRole == "Admin")
    {
        <br /><br />
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Pending Courses</h4></div>
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Designator
                    </th>
                    <th>
                        Professor
                    </th>
                    <th>

                    </th>

                </tr>
                @foreach (var course in Model.PendingCourses)
                {
                    <tr>
                        <td>
                            @course.CourseName
                        </td>
                        <td>
                            @course.CourseDesignator
                        </td>
                        <td>
                            @course.ProfessorId
                        </td>
                        <td>
                            @Html.ActionLink("Accept", "AcceptCourse", "Home", new { id = course.SectionId, userId = Model.UserId }, null) /
                            @Html.ActionLink("Deny", "DenyCourse", "Home", new { id = course.SectionId, userId = Model.UserId }, null)


                        </td>
                    </tr>

                }
            </table>
        </div>
    }
    @if (Model.PendingStudents.Count() > 0 && (Model.UserRole == "Admin" || Model.UserRole == "Professor"))
    {
        <br /><br />
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Pending Students</h4></div>
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        UserId
                    </th>
                    <th>
                        Course Name
                    </th>
                    <th>
                        Course Designator
                    </th>
                    <th></th>

                </tr>
                @foreach (var course in Model.PendingStudents)
                {
                    <tr>
                        <td>
                            @course.Name
                        </td>
                        <td>
                            @course.StudentId
                        </td>
                        <td>
                            @course.CourseName
                        </td>
                        <td>
                            @course.CourseDesignator
                        </td>
                        <td>
                            @Html.ActionLink("Accept", "AcceptStudent", "Home", new { id = course.CourseId, student = course.StudentId, userId = Model.UserId }, null) /
                            @Html.ActionLink("Deny", "DenyStudent", "Home", new { id = course.CourseId, student = course.StudentId, userId = Model.UserId }, null)
                        </td>
                    </tr>

                }
            </table>
        </div>
    }

    @if (Model.MyPendingCourses.Count() > 0 && Model.UserRole == "Student")
    {
        <br /><br />
        <div class="panel panel-default">
            <div class="panel-heading"><h4>My Pending Courses</h4></div>
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Designator
                    </th>
                    <th>
                        Professor
                    </th>

                </tr>
                @foreach (var course in Model.MyPendingCourses)
                {
                    <tr>
                        <td>
                            @course.CourseName
                        </td>
                        <td>
                            @course.CourseDesignator

                        </td>
                        <td>
                            @course.ProfessorId
                        </td>
                    </tr>

                }
            </table>
        </div>
    }
</div>
